/* breakpointy: 640, 1024 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #ffed92;
    border: 2px solid #fe7b0d;
    /* border-radius: 0.5em; */
    padding: 0.8em;
    margin-bottom: 1em;
}

nav {
    background-color: #ffed92;
    border: 2px solid #fe7b0d;
    padding: 0.8em;
    margin-bottom: 1em;
}

ul {
    list-style: none;
}

main {
    background-color: #ffed92;
    border: 2px solid #fe7b0d;
    padding: 1em;
    margin-bottom: 1em;
}

h2 {
    margin-bottom: 0.5em;
    margin-top: 0.3em;
}

aside {
    background-color: #ffed92;
    border: 2px solid #fe7b0d;
    padding: 0.8em;
    margin-bottom: 1em;
}

section {
    background-color: #ffed92;
    border: 2px solid #fe7b0d;
    padding: 0.8em;
    margin-bottom: 1em;
}

footer {
    background-color: #ffed92;
    border: 2px solid #fe7b0d;
    padding: 0.8em;
}

@media (min-width:640px) {
    .container {
        display: grid;
        grid-template-columns: 2fr 70%;
        /* grid-template-rows: 10% 10% 70% 10%; */
        grid-template-rows: 2fr 2fr 6fr 2fr;
        column-gap: 1em;
    }

    header {
        grid-area: 1/1/2/3;
    }

    nav {
        grid-area: 2/1/3/3;
    }

    ul {
        display: flex;
        justify-content: space-around;
    }

    main {
        grid-area: 3/2/4/3;
    }

    section {
        /* grid-area: 4/1/-1/2; */
        margin-bottom: 0;
    }
}

@media (min-width:1024px) {
    .container {
        grid-template-columns: 15% 65% 2fr;
        /* grid-template-rows: 10% 35% 35% 10%; */
        grid-template-rows: 2fr 4fr 4fr 2fr;
        column-gap: 1em;
    }

    header {
        grid-area: 1/1/2/-1;
    }

    nav {
        grid-area: 2/1/4/2;
        /* margin: 0; */
    }

    ul {
        display: block;
    }

    main {
        grid-area: 2/2/4/3;
    }

    aside {
        grid-area: 2/3/3/-1;
    }

    section {
        grid-area: 3/3/4/-1;
        margin-bottom: 1em;

    }

    footer {
        grid-area: 4/1/5/-1;
    }


}